<div style="display: flex ; justify-content: center; align-items: center; border: 2px solid black; width: fit-content;margin: 0 auto;padding: 30px;border-radius:10px ;">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <p>
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" placeholder="FIRST NAME" formControlName="firstname">
        </p>
        <p>
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" placeholder="LAST NAME" formControlName="lastname">
        </p>
    
        <p>
          <label for="email">Email</label>
          <input type="text" name="email" placeholder="example@gmail.com" formControlName="email">
        </p>
        <p>
          <label for="gender">Gender</label>
          <input type="radio" title="radio" name="gender" value="Male" formControlName="gender">Male
          <input type="radio" name="gender" value="Female" title="radio" formControlName="gender">Female
        </p>
        <p>
          <label for="isMarried">Married</label>
          <input type="checkbox" name="isMarried" placeholder="." formControlName="Married">
        </p>
        
          <label for="Country">Country</label>
          <select name="country" title="option" formControlName="country">
            <option [ngValue]="c.name" *ngFor="let c of countryList">
              {{c.name}}
            </option>
          </select>
        <p>
          <button type="submit" style="display: flex; justify-content: center; align-items: center;margin: 0 auto;padding: 8px; border:2px solid black; border-radius: 5px;"  >Submit</button>
        </p>
        
    
      </form>
    </div>